@font-face {
    font-family: "Source Sans Pro";
    src: url("../Fonts/source-sans-pro/SourceSansPro-Regular.otf");
}

@font-face {
    font-family: "Source Sans Pro-bold";
    src: url("../Fonts/source-sans-pro/SourceSansPro-Bold.otf");
}

@font-face {
    font-family: "Source Sans Pro-semibold";
    src: url("../Fonts/source-sans-pro/SourceSansPro-Semibold.otf");
}

@font-face {
    font-family: "Source Sans Pro-extra-light";
    src: url("../Fonts/source-sans-pro/SourceSansPro-ExtraLight.otf");
}

:root {
    --font-extra-light: "Source Sans Pro-extra-light";
    --font-regular: "Source Sans Pro";
    --font-semibold: "Source Sans Pro-semibold";
    --font-bold: "Source Sans Pro-bold";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 1440px;
    margin: auto;
    height: 100%;
    font-family: var(--font-regular);
    background-color: rgb(242, 242, 242);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 1100px;
}

header div {
    padding-bottom: 10px;
    display: flex;
    gap: 40px;
}

header div a {
    font-size: 12px;
    font-family: var(--font-bold);
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

.first-page {
    background-image: url(../Images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1090px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-page .title {
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-page .title h1 {
    font-size: 120px;
    font-family: var(--font-bold);
    color: white;
}

.first-page .title p {
    color: white;
    font-family: var(--font-bold);
    word-spacing: 50px;
    margin-top: -10px;
    margin-bottom: 35px;
}

.first-page .title button {
    font-family: var(--font-extra-light);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: white;
    background-color: rgb(194, 113, 255);
    padding: 13px 20px;
    border: none;
    border-radius: 50px;
    margin-bottom: 160px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
    -4px -4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.description .purple-learn-word {
    font-family: var(--font-regular);
    color: rgb(194, 113, 255);
    font-weight: 600;
}

.description h2 {
    font-size: 32px;
    font-family: var(--font-extra-light);
    letter-spacing: 1px;
    color: white;
    font-weight: 100;
}

.description .pros-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
}

.pros-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.pros-container div h3 {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 12px;
    margin-bottom: 10px;
}

.pros-container div p {
    width: 150px;
    font-family: var(--font-extra-light);
    font-weight: 100;
    font-style: italic;
}

.pros-container .first-line {
    display: block;
    text-align: center;
}

.pros-container .second-line {
    display: block;
    text-align: center;
    margin-top: -15px;
}

.second-page {
    height: 390px;
    background-color: rgb(194, 113, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-page > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 940px;
    color: white;
}

.second-page blockquote {
    font-size: 22px;
    line-height: 30px;
}

.second-page .name {
    font-family: var(--font-bold);
    font-size: 22px;
    margin-top: 27px;
    margin-bottom: 8px;
}

.second-page .weather {
    font-size: 20px;
    font-style: italic;
    font-family: var(--font-extra-light);
}

.third-page {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    background-color: white;
}

.third-page h1 {
    font-family: var(--font-extra-light);
    font-weight: 100;
    font-size: 32px;
}

.third-page .purple-popular-word {
    font-family: var(--font-bold);
    color: rgb(194, 113, 255)
}

.third-page .tutorials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.tutorial .video-preview-container {
    position: relative;
    cursor: pointer;
}

.video-preview-container .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tutorial h2 {
    font-size: 16px;
    font-family: var(--font-bold);
    margin-top: 12px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.tutorial > p {
    font-size: 14px;
    color: rgb(7, 22, 41, 0.5);
    padding-left: 15px;
    width: 240px;
    margin-bottom: 15px;
}

.tutorial .profile-container {
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
    margin-bottom: 10px;
}

.tutorial .profile-container img {
    height: 30px;
    width: 30px;
}

.tutorial .profile-container h3 {
    font-family: var(--font-semibold);
    font-size: 14px;
    color: rgb(194, 113, 255);
}

.tutorial .rating-container {
    padding-left: 15px;
}

.tutorial .rating-container p {
    display: inline-block;
    margin-left: 95px;
    font-family: var(--font-semibold);
    font-size: 14px;
    color: rgb(194, 113, 255);
}

.fourth-page {
    height: 502px;
    background-color: rgb(7, 22, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-page > h1 {
    font-size: 32px;
    font-family: var(--font-extra-light);
    color: white;
    font-weight: 100;
    margin-top: 60px;
    margin-bottom: 70px;
}

.fourth-page .purple-free-word {
    font-family: var(--font-bold);
    color: rgb(194, 113, 255);
}

.fourth-page .contents-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 90px;
}

.fourth-page .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.content h2 {
    font-size: 18px;
    font-family: var(--font-semibold);
    margin-top: 20px;
    margin-bottom: 15px;
}
.content p {
    width: 212px;
    font-size: 14px;
    font-family: var(--font-extra-light);
    line-height: 26px;
}

.content .first-line,
.content .second-line {
    display: block;
    text-align: center;
}

.fourth-page button {
    font-family: var(--font-extra-light);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: white;
    background-color: rgb(194, 113, 255);
    padding: 13px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.fifth-page {
    height: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.fifth-page > h1 {
    font-size: 60px;
    font-family: var(--font-extra-light);
    margin-top: 60px;
    margin-bottom: 80px;
    font-weight: 100;
}

.fifth-page .flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 220px;
}

.flexbox .column {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.column h2 {
    font-family: var(--font-bold);
    font-size: 16px;
    margin-bottom: 30px;
}

.column p {
    width: 350px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(7, 22, 41, 0.5);
}

footer {
    height: 250px;
    background-color: rgb(7, 22, 41);
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 770px;
    margin-top: 100px;
}

.footer-content div {
    display: flex;
    align-items: center;
    gap: 20px;
}

footer p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.35);
    margin-top: 70px;
}